 body{
     padding: 0;
     margin: 0;
 }
 ul,li{
     padding: 0;
     margin: 0;
     list-style: none;
 }
 #form-content{
     width: 400px;
     border: 1px solid deepskyblue;
     padding: 80px 20px;
     margin: 10% auto 0;
 }
 .form-title{
     width: 100px;
     height: 30px;
     display: inline-block;
 }
 .form-data{
     padding: 8px 5px;
     width: 240px;
 }
 .form-item{
     margin-top: 5px;
 }
 .form-submit {
     margin-top: 20px;
     width: 100%;
     height: 50px;
 }